<div class="header bg-gradient-danger pb-8 pt-3 pt-md-7">
    <!-- <div class="container-fluid">
      <div class="header-body">
        
      </div>
    </div> -->
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-6">
                          <h3 class="mb-0">Task Data List</h3>
                        </div>
                        <div class="col-6 text-right">
                          <a href="Task/taskOperation/add" class="btn btn-primary">Add</a>
                        </div>
                      </div>
                     
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Task Name</th>
                                <th scope="col">Company Name</th>
                                <th scope="col">Partner Name</th>
                                <th scope="col">Nature Of Work</th>
                                <th scope="col">User</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let task of taskData">
                                <td>{{ task.taskName }}</td>
                                <td>{{ task.companyName }}</td>
                                <td>{{ task.partnerName }}</td>
                                <td>{{ task.natureOfWork }}</td>
                                <td>{{ task.userName }}</td>
                                <button class="btn btn-primary">
                                    View
                                </button>
                                <button class="btn btn-info">
                                    Edit
                                </button>
                                <button class="btn btn-danger">
                                    Delete
                                </button>
                            </tr> -->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>