<div class="header pb-8 pt-3 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-8 col-md-10">
        <h1 class="display-2 text-white">Change Your Password</h1>
        <!-- <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
        <a href="#!" class="btn btn-info">Edit profile</a> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-2 order-xl-2 mb-5 mb-xl-0">

    </div>
    <div class="col-xl-10 order-xl-1">
      <div class="card bg-secondary shadow">
        <form role="form" [formGroup]="ChangePassForm">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Password Details</h3>
              </div>
              <div class="col-4 text-right">
                <a class="btn btn-sm btn-primary" (click)="onSubmit()">Submit</a>
              </div>
            </div>
            <div class="card-body">
              <!--<form role="form" [formGroup]="ChangePassForm">-->
              <h6 class="heading-small text-muted mb-4">Password information</h6>
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Enter your old password" formControlName="OldPass" type="password"
                         [ngClass]="{ 'is-invalid': Submitted && changePassFormControl['OldPass'].errors }">
                  <div *ngIf="Submitted && changePassFormControl['OldPass'].errors" class="invalid-feedback">
                    <div *ngIf="changePassFormControl['OldPass'].errors['required']">Old password is required</div>
                    <div *ngIf="changePassFormControl['OldPass'].errors['minlength']">Password must be at least 6 Characters</div>
                    <div *ngIf="changePassFormControl['OldPass'].errors['maxlength']">Password must not exceed 20 Characters</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Enter your new password" formControlName="NewPass" type="password"
                         [ngClass]="{ 'is-invalid': Submitted && changePassFormControl['NewPass'].errors }">
                  <div *ngIf="Submitted && changePassFormControl['NewPass'].errors" class="invalid-feedback">
                    <div *ngIf="changePassFormControl['NewPass'].errors['required']">New password is required</div>
                    <div *ngIf="changePassFormControl['NewPass'].errors['minlength']">Password must be at least 6 Characters</div>
                    <div *ngIf="changePassFormControl['NewPass'].errors['maxlength']">Password must not exceed 20 Characters</div>
                  </div>
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Enter confirm password" formControlName="ReEnterPass" type="password"
                         [ngClass]="{ 'is-invalid': Submitted && changePassFormControl['ReEnterPass'].errors }">
                  <div *ngIf="Submitted && changePassFormControl['ReEnterPass'].errors" class="invalid-feedback">
                    <div *ngIf="changePassFormControl['ReEnterPass'].errors['required']">Confirm password is required</div>
                    <div *ngIf="changePassFormControl['ReEnterPass'].errors['minlength']">Password must be at least 6 Characters</div>
                    <div *ngIf="changePassFormControl['ReEnterPass'].errors['maxlength']">Password must not exceed 20 Characters</div>
                    <div *ngIf="changePassFormControl['ReEnterPass'].errors['confirmedValidator']">
                      Passwords did not match
                    </div>
                  </div>
                </div>
              </div>
              <!--<div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Old Password</label>
                      <input type="password" formControlName="OldPass" class="form-control form-control-alternative" placeholder="Enter Your Old Password">
                      <div *ngIf="Submitted && changePassFormControl['OldPass'].errors" class="invalid-feedback">
                        <div *ngIf="changePassFormControl['OldPass'].errors['required']">
                          Password is required
                        </div>
                        <div *ngIf="changePassFormControl['OldPass'].errors['minlength']">
                          Password must be at least 6 Characters
                        </div>
                        <div *ngIf="changePassFormControl['OldPass'].errors['maxlength']">
                          Password must not exceed 20 Characters
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">New Password</label>
                      <input type="password" formControlName="NewPass" class="form-control form-control-alternative" placeholder="Enter Your New Password">
                      <div *ngIf="Submitted && changePassFormControl['NewPass'].errors" class="invalid-feedback">
                        <div *ngIf="changePassFormControl['NewPass'].errors['required']">
                          Password is required
                        </div>
                        <div *ngIf="changePassFormControl['NewPass'].errors['minlength']">
                          Password must be at least 6 Characters
                        </div>
                        <div *ngIf="changePassFormControl['NewPass'].errors['maxlength']">
                          Password must not exceed 20 Characters
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Confirm New Password </label>
                      <input type="password" formControlName="ReEnterPass" class="form-control form-control-alternative" placeholder="ReEnter Your New Password">
                      <div *ngIf="Submitted && changePassFormControl['ReEnterPass'].errors" class="invalid-feedback">
                        <div *ngIf="changePassFormControl['ReEnterPass'].errors['required']">
                          Password is required
                        </div>
                        <div *ngIf="changePassFormControl['ReEnterPass'].errors['minlength']">
                          Password must be at least 6 Characters
                        </div>
                        <div *ngIf="changePassFormControl['ReEnterPass'].errors['maxlength']">
                          Password must not exceed 20 Characters
                        </div>
                        <div *ngIf="passwordMismatch">
                          Confirm password should be match with new password
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <button type="submit" (click)="onSubmit()">Submit</button>
                  </div>
                </div>
              </div>-->
              <!--</form>-->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
