<div class="header pb-8 pt-3 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-8 col-md-10">
          <h1 class="display-2 text-white">Change Your Password</h1>
          <!-- <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
          <a href="#!" class="btn btn-info">Edit profile</a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-2 order-xl-2 mb-5 mb-xl-0">
        
      </div>
      <div class="col-xl-10 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-6">
                <h3 class="mb-0">Password Details</h3>
              </div>
              <div class="col-6 text-right">
                <a href="#!" class="btn btn-primary">Submit</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <h6 class="heading-small text-muted mb-4">Password information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Old Password</label>
                      <input type="password" formControlName="OldPass" class="form-control form-control-alternative" placeholder="Enter Your Old Password" >
                      <div *ngIf="Submitted && FormControl['OldPass'].errors" class="invalid-feedback">
                        <div *ngIf="FormControl['OldPass'].errors['required']">
                         Password is required
                        </div>
                        <div *ngIf="FormControl['OldPass'].errors['minlength']">
                          Password must be at least 6 Characters
                        </div>
                        <div *ngIf="FormControl['OldPass'].errors['maxlength']">
                          Password must not exceed 20 Characters
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Email address</label>
                      <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com">
                    </div>
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">New Password</label>
                      <input type="password" formControlName="NewPass" class="form-control form-control-alternative" placeholder="Enter Your New Password" >
                      <div *ngIf="Submitted && FormControl['NewPass'].errors" class="invalid-feedback">
                        <div *ngIf="FormControl['NewPass'].errors['required']">
                         Password is required
                        </div>
                        <div *ngIf="FormControl['NewPass'].errors['minlength']">
                          Password must be at least 6 Characters
                        </div>
                        <div *ngIf="FormControl['NewPass'].errors['maxlength']">
                          Password must not exceed 20 Characters
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">ReEnter New Password </label>
                      <input type="password" formControlName="ReEnterPass" class="form-control form-control-alternative" placeholder="ReEnter Your New Password">
                      <div *ngIf="Submitted && FormControl['ReEnterPass'].errors" class="invalid-feedback">
                        <div *ngIf="FormControl['ReEnterPass'].errors['required']">
                         Password is required
                        </div>
                        <div *ngIf="FormControl['ReEnterPass'].errors['minlength']">
                          Password must be at least 6 Characters
                        </div>
                        <div *ngIf="FormControl['ReEnterPass'].errors['maxlength']">
                          Password must not exceed 20 Characters
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <hr class="my-4" />
             
              <h6 class="heading-small text-muted mb-4">Contact information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Address</label>
                      <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-city">City</label>
                      <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Country</label>
                      <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Postal code</label>
                      <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" /> -->
        
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  